# DA - March Machine Learning Mania 2017

## Teams 2017 - Check

In [1]:
import numpy as np
import pandas as pd

In [2]:
teams_df = pd.read_csv('/media/sf_QMUL_SD/DataAnalytics/CourseWork/data/teams2017.csv')
print(teams_df.head())
print(teams_df.tail())

     Id
0  1112
1  1116
2  1124
3  1137
4  1139
      Id
63  1452
64  1455
65  1457
66  1458
67  1462

In [3]:
# create a dummy key
teams_df['key'] = 1

# cross join - multiply each with each (combination) and get only the Id columns
teams_com_df = pd.merge(teams_df, teams_df, how='outer', left_on='key', right_on='key')[['Id_x','Id_y']]

# rename the columns
teams_com_df.columns = ['team_a_id','team_b_id']
teams_com_df

      team_a_id  team_b_id
0          1112       1112
1          1112       1116
2          1112       1124
3          1112       1137
4          1112       1139
5          1112       1153
6          1112       1166
7          1112       1173
8          1112       1181
9          1112       1190
10         1112       1195
11         1112       1196
12         1112       1199
13         1112       1211
14         1112       1233
15         1112       1235
16         1112       1240
17         1112       1242
18         1112       1243
19         1112       1245
20         1112       1246
21         1112       1257
22         1112       1266
23         1112       1268
24         1112       1274
25         1112       1276
26         1112       1277
27         1112       1278
28         1112       1291
29         1112       1292
...         ...        ...
4594       1462       1323
4595       1462       1329
4596       1462       1332
4597       1462       1343
4598       1462       1344
4599       1462       1345
4600       1462       1348
4601       1462       1355
4602       1462       1371
4603       1462       1374
4604       1462       1376
4605       1462       1388
4606       1462       1407
4607       1462       1411
4608       1462       1413
4609       1462       1417
4610       1462       1423
4611       1462       1425
4612       1462       1433
4613       1462       1435
4614       1462       1436
4615       1462       1437
4616       1462       1438
4617       1462       1439
4618       1462       1448
4619       1462       1452
4620       1462       1455
4621       1462       1457
4622       1462       1458
4623       1462       1462

[4624 rows x 2 columns]

In [4]:
# get only the logical combinations:
#  - exclude same teams
#  - exclude the duplicates (higher team Id playing against lower team Id)
#
#  Formula: 68 teams => 68*67 = 2278 possible games
games_df = teams_com_df.loc[teams_com_df.team_a_id < teams_com_df.team_b_id]
games_df

      team_a_id  team_b_id
1          1112       1116
2          1112       1124
3          1112       1137
4          1112       1139
5          1112       1153
6          1112       1166
7          1112       1173
8          1112       1181
9          1112       1190
10         1112       1195
11         1112       1196
12         1112       1199
13         1112       1211
14         1112       1233
15         1112       1235
16         1112       1240
17         1112       1242
18         1112       1243
19         1112       1245
20         1112       1246
21         1112       1257
22         1112       1266
23         1112       1268
24         1112       1274
25         1112       1276
26         1112       1277
27         1112       1278
28         1112       1291
29         1112       1292
30         1112       1297
...         ...        ...
4078       1437       1458
4079       1437       1462
4141       1438       1439
4142       1438       1448
4143       1438       1452
4144       1438       1455
4145       1438       1457
4146       1438       1458
4147       1438       1462
4210       1439       1448
4211       1439       1452
4212       1439       1455
4213       1439       1457
4214       1439       1458
4215       1439       1462
4279       1448       1452
4280       1448       1455
4281       1448       1457
4282       1448       1458
4283       1448       1462
4348       1452       1455
4349       1452       1457
4350       1452       1458
4351       1452       1462
4417       1455       1457
4418       1455       1458
4419       1455       1462
4486       1457       1458
4487       1457       1462
4555       1458       1462

[2278 rows x 2 columns]